
textarea {
  resize: vertical;
  padding: 8px;
  border: grey solid 1px;

  &.item-create {
    width: 50%;
    float: left;
    height: 100%;
  }

  &.item-blog {
    width: 100%;
    min-height: 200px;
    height: 80vh;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content {
  margin-top: 56px;
}

input {
  color: #666;
}

