<mat-tab-group [selectedIndex]="selectedIndex" (selectChange)="onSelect($event)" [dynamicHeight]="true">
  <mat-tab label="BLOG">
    <mat-card *ngFor="let blog of blogs;let i = index">
      <mat-card-actions style="margin-bottom: 0">
        <button mat-button (click)="editBlog(blog)"><span class="fa fa-pencil-square-o"></span> EDIT</button>
        <button mat-button (click)="deleteBlog(blog)"><span class="fa fa-trash-o"></span> DELETE</button>
        <button mat-button [routerLink]="['/blogs/',blog.id]"><span class="fa fa-info"></span></button>

        <span style="font-size: 13px;color: #727272;margin: 4px;float: right">{{blog.created_at}}</span>
      </mat-card-actions>
      <div>
        <span class="label label-success" style="margin-right: 16px" *ngFor="let tag of blog.tags;let tagIndex = index">
          {{tag.tag}}
          <span class="delete" (click)="removeTag(blog,tagIndex);$event.stopPropagation();"> x </span>
        </span>
        <mat-input-container>
          <input matInput placeholder="ADD TAG" maxlength="16" [(ngModel)]="blog.tagEdit"
                 (keydown)="onTagInputKeyDown($event,blog)">
        </mat-input-container>

      </div>

      <mat-card-content>
        <markdown [markdown]="blog.blog"></markdown>
      </mat-card-content>
    </mat-card>

    <mat-card (click)="loadMore()">
      <div [ngSwitch]="loading">
        <mat-progress-bar *ngSwitchCase="true" mode="buffer"></mat-progress-bar>
        <div *ngSwitchDefault class="load-more">
          <div [ngSwitch]="loadAll">
            <div *ngSwitchCase="true">
              <div class="load-all"></div>
              <span style="color: #d0d0d0">●</span>
              <div class="load-all"></div>
            </div>
            <div *ngSwitchDefault>Click For Load More</div>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="{{blogEdit?'EDIT':'NEW'}}">
    <mat-card>
      <mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="blogEdit?editSubmit(blogEdit):create()">SAVE</button>
          <button mat-button (click)="editCancel()">CANCEL</button>
        </mat-card-actions>
      </mat-card-header>
      <mat-card-content style="width: 100%;height:calc(100vh - 280px);overflow-y: scroll">
        <simplemde [(markdown)]="blogContent"></simplemde>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
