<md-tab-group [selectedIndex]="selectedIndex" (selectChange)="onSelect($event)" [dynamicHeight]="true">
  <md-tab label="BLOG">
    <md-card *ngFor="let blog of blogs;let i = index">
      <md-card-actions style="margin-bottom: 0">
        <button md-button (click)="editBlog(blog)"><span class="fa fa-pencil-square-o"></span> EDIT</button>
        <button md-button (click)="deleteBlog(blog)"><span class="fa fa-trash-o"></span> DELETE</button>
        <button md-button (click)="view(blog)"><span class="fa fa-info"></span></button>

        <button md-button><span class="fa fa-heart-o"></span></button>
        <button md-button><span class="fa fa-comment-o"></span></button>

        <span style="font-size: 13px;color: #727272;margin: 4px;float: right">{{blog.created_at}}</span>
      </md-card-actions>
      <div>
        <span class="label label-success" style="margin-right: 16px" *ngFor="let tag of blog.tags;let tagIndex = index">
          {{tag.tag}}
          <span class="delete" (click)="removeTag(blog,tagIndex);$event.stopPropagation();"> x </span>
        </span>
        <md-input-container>
          <input mdInput placeholder="ADD TAG" maxlength="16" [(ngModel)]="blog.tagEdit"
                 (keydown)="onTagInputKeyDown($event,blog)">
        </md-input-container>

      </div>

      <md-card-content>
        <markdown [markdown]="blog.blog"></markdown>
      </md-card-content>
    </md-card>

    <md-card (click)="loadMore()">
      <div [ngSwitch]="loading">
        <md-progress-bar *ngSwitchCase="true" mode="buffer"></md-progress-bar>
        <div *ngSwitchDefault class="load-more">
          <div [ngSwitch]="loadAll">
            <div *ngSwitchCase="true">
              <div class="load-all"></div>
              <span style="color: #d0d0d0">●</span>
              <div class="load-all"></div>
            </div>
            <div *ngSwitchDefault>Click For Load More</div>
          </div>
        </div>
      </div>
    </md-card>
  </md-tab>

  <md-tab label="{{blogEdit?'EDIT':'NEW'}}">
    <md-card>
      <md-card-header>
        <md-card-actions>
          <button md-button (click)="blogEdit?editSubmit(blogEdit):create()">SAVE</button>
          <button md-button (click)="editCancel()">CANCEL</button>
        </md-card-actions>
      </md-card-header>
      <md-card-content  style="width: 100%;height:calc(100vh - 280px);overflow-y: scroll">
        <simplemde [(markdown)]="blogContent"></simplemde>
      </md-card-content>
    </md-card>
  </md-tab>
</md-tab-group>
